.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

h2 {
  text-align: center;
}

.carousel-container {
  width: 500px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: all 1s;
}

.carousel img {
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.btn-container button {
  background-color: lavender;
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .carousel-container {
    width: 300px;
  }

  .carousel div img {
    width: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main {
    height: 80vh;
  }

  .carousel-container {
    width: 500px;
  }

  .carousel div img {
    width: 500px;
  }
}

@media screen and (mim-width: 1024px) {
  .main {
    height: 100vh;
  }

  .carousel-container {
    width: 800px;
  }

  .carousel div img {
    width: 800px;
  }
}
