#Showresult {
  display: none;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-family: "NeoDunggeunmo";
  width: 330px;
  font-size: 17px;
  padding: 20px;
}

#shareResult {
  background-color: white;
  border-radius: 20px;
  text-align: center;
  font-family: "NeoDunggeunmo";
  width: 330px;
  font-size: 17px;
}

.resultName {
  font-size: 18px;
}

.resultDesc,
.resultLike,
.resultHate {
  font-size: 14px;
}

.resultDesc {
  padding: 10px;
}

.match {
  display: flex;
  justify-content: space-evenly;
}

.resultGood,
.resultBad {
  font-size: 14px;
}

.sharebtn {
  display: flex;
  padding-top: 10px;
  gap: 15px;
  justify-content: center;
}
