body {
    background-color: #c2a1ff;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}

.profile {
    display: flex;
    max-width: 360px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.banner {
    background-color: #d0bafd;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
}

.photo {
    width: 6rem;
    height: 6rem;
    background-image: url(/image.png);
    background-size: 90px;
    background-position-x: 1px;
    background-position-y: 2px;   
    background-color: white;
    border-radius: 50px;
    box-shadow: 1px 2px 3px black;
    transform: translateY(50%);
    transition: transform 200ms cubic-bezier(0.18 0.89 0.32 1.28);
}

.photo:hover {
    transform: translateY(50%) scale(1.2);
}

.name {
    text-align: center;
    padding-top: 40px;
}

.btn {
    display: flex;
    justify-content: center;
}

button {
    background-color: gold;
    border: none;
    border-radius: 50px;
    width: 100px;
    padding: 5px 5px;
    font-weight: bold;
}

.btn button:hover {
    transform: scale(1.1);
}

.blahblahblah {
    padding: 1.5rem;
    font-size: 13px;
    text-align: center;
}