* {
  padding: 5px;
}

header {
  background-color: lavender;
  height: 262px;
  box-sizing: content-box;
  padding: 10px;
}

main {
  background-color: aliceblue;
  min-height: 2264px;
}

footer {
  background-color: darkgray;
  height: 461px;
}
